@charset "UTF-8";

html body {
	
	margin: 0px;
	padding: 0px;
	
}

.removeDefaultHyperlinkStyle {
	
	color: inherit;
	text-decoration: none;
	
}

.wrappable {
	
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	
}

.nonWrappable {
	
	white-space: nowrap;
	
}

.noHighlight {
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
