/*****IMAGES*****IMAGES*****IMAGES*****IMAGES*****/
	
	#image1 {
		
		width: 100%;
		height: 75vh;
		background-position: center top;
		display: block; /* removes height differential */
		
	}
	
	#image_container {
		
		box-shadow: /*dx*/ 1px /*dy*/ 2px /*Blur(A)*/ 40px /*dA*/ 4px gray;
		top: 0;
		left: 0;
		
	}
	
/*****IMAGES*****IMAGES*****IMAGES*****IMAGES*****/
	
/*****BODY*****BODY*****BODY*****BODY*****/
	
	html body {
		
		background: #f1f1f1;
		margin: 0;
		
	}
	
	.body {
		
		font-family: Arial;
		padding: 70px;
		line-height: 200%;
		text-shadow: 1px 1px rgb(230, 230, 230);
		
	}
	
	.header {
		
		padding: 30px;
		text-align: center;
		background: white;
		color: rgb(70, 100, 180);
		box-shadow: /*dx*/ 3px /*dy*/ 3px /*Blur(A)*/ 7px /*dA*/ 1px gray;
		
	}
	
	.row1_col0 {
		
		float: left;
		width: 70%;
		
	}
	
	.row1_col1 {
		
		float: left;
		width: 30%;
		padding-left: 20px;
		
	}
	
	.element {
		
		background-color: white;
		padding: 20px;
		margin-top: 20px;
		
	}
	
	.row1_col0 .element {
		
		box-shadow: /*dx*/ 3px /*dy*/ 3px /*Blur(A)*/ 7px /*dA*/ 1px lightblue;
		
	}
	
	.row1_col1 .element {
		
		box-shadow: /*dx*/ 3px /*dy*/ 3px /*Blur(A)*/ 7px /*dA*/ 1px rgba(0, 255, 255, 0.2);
		
	}
	
	.wrappable_link {
		
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;

	}
	
	.middle:after {

		content: "";
		display: table;
		clear: both;
		
	}
	
	.footer {

		padding: 20px;
		text-align: center;
		margin-top: 20px;
		
	}
	
	@media screen and (max-width: 800px) {
		
		.body {
			
			padding-left: 40px;
			padding-right: 40px;
			
		}
		
		.row1_col0, .row1_col1 {   
		
			width: 100%;
			padding: 0;
			
		}
		
	}
	
/*****BODY*****BODY*****BODY*****BODY*****/
